<a href="https://colab.research.google.com/github/manvgom/Pickioset/blob/main/GenerarTXT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%reset 
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
!mkdir -p dataset
!unzip -qo drive/MyDrive/MTDI_TFM/PICKIOSET/openMMlab_small_ds.zip -d ./dataset/

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Mounted at /content/drive

In [2]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [97]:
%cd /content/dataset/openMMlab_small_ds/test_set/test_set/
ds_path = "/content/dataset/openMMlab_small_ds/test_set/test_set/"
ds_class = os.listdir(ds_path)
ds_class.remove(".DS_Store")
print (ds_class)
print("Types of classes labels found: ", len(ds_class))

/content/dataset/openMMlab_small_ds/test_set/test_set
['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
Types of classes labels found:  6

In [98]:
class_labels = []
for x in ds_class:
 all_classes = os.listdir(ds_path + x)
 for y in all_classes:
  class_labels.append((x,str(x) + '/' + y))
df = pd.DataFrame(data=class_labels, columns = ['Label','Path'])
df.head()

               Label                      Path
0  ensalada_cangrejo  ensalada_cangrejo/18.jpg
1  ensalada_cangrejo  ensalada_cangrejo/21.jpg
2  ensalada_cangrejo   ensalada_cangrejo/1.jpg
3  ensalada_cangrejo  ensalada_cangrejo/11.jpg
4  ensalada_cangrejo  ensalada_cangrejo/28.jpg

In [99]:
label=list(dict.fromkeys(df['Label'].values))
print(label)
labelencoder = LabelEncoder ()
labelencoder = labelencoder.fit_transform (label)
print (list(dict.fromkeys(labelencoder)))

['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
[3, 1, 0, 5, 2, 4]

In [100]:
test_doc = []
for x in range(len(df)):
  for y in range(len(label)):
    if df.iloc[x,0] == label[y]:
      test_doc.append(str(df.iloc[x,1]) + " " + str(labelencoder[y]))

In [101]:
with open('/content/drive/MyDrive/MTDI_TFM/test.txt', 'w') as f:
    for line in test_doc:
        f.write(line)
        f.write('\n')

In [102]:
%cd /content/dataset/openMMlab_small_ds/val_set/val_set/
ds_path = "/content/dataset/openMMlab_small_ds/val_set/val_set/"
ds_class = os.listdir(ds_path)
ds_class.remove(".DS_Store")
print (ds_class)
print("Types of classes labels found: ", len(ds_class))

/content/dataset/openMMlab_small_ds/val_set/val_set
['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
Types of classes labels found:  6

In [103]:
class_labels = []
for x in ds_class:
 all_classes = os.listdir(ds_path + x)
 for y in all_classes:
  class_labels.append((x,str(x) + '/' + y))
df = pd.DataFrame(data=class_labels, columns = ['Label','Path'])
df.head()

               Label                      Path
0  ensalada_cangrejo   ensalada_cangrejo/2.jpg
1  ensalada_cangrejo   ensalada_cangrejo/9.jpg
2  ensalada_cangrejo  ensalada_cangrejo/15.jpg
3  ensalada_cangrejo  ensalada_cangrejo/29.jpg
4  ensalada_cangrejo  ensalada_cangrejo/19.jpg

In [104]:
label=list(dict.fromkeys(df['Label'].values))
print(label)
labelencoder = LabelEncoder ()
labelencoder = labelencoder.fit_transform (label)
print (list(dict.fromkeys(labelencoder)))

['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
[3, 1, 0, 5, 2, 4]

In [105]:
val_doc = []
for x in range(len(df)):
  for y in range(len(label)):
    if df.iloc[x,0] == label[y]:
      val_doc.append(str(df.iloc[x,1]) + " " + str(labelencoder[y]))

In [106]:
with open('/content/drive/MyDrive/MTDI_TFM/validation.txt', 'w') as f:
    for line in val_doc:
        f.write(line)
        f.write('\n')