<a href="https://colab.research.google.com/github/manvgom/Pickioset/blob/main/GenerarTXT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%reset 
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
!mkdir -p dataset
!unzip -qo drive/MyDrive/MTDI_TFM/PICKIOSET/openMMlab_small_ds.zip -d ./dataset/

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Mounted at /content/drive

In [2]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [17]:
%cd /content/dataset/openMMlab_small_ds/test_set/test_set/
test_path = "/content/dataset/openMMlab_small_ds/test_set/test_set/"
test_class = os.listdir(test_path)
test_class.remove(".DS_Store")
print (test_class)
print("Types of classes labels found: ", len(test_class))
print("\n")
%cd /content/dataset/openMMlab_small_ds/val_set/val_set/
val_path = "/content/dataset/openMMlab_small_ds/val_set/val_set/"
val_class = os.listdir(val_path)
val_class.remove(".DS_Store")
print (val_class)
print("Types of classes labels found: ", len(val_class))

/content/dataset/openMMlab_small_ds/test_set/test_set
['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
Types of classes labels found:  6


/content/dataset/openMMlab_small_ds/val_set/val_set
['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
Types of classes labels found:  6

In [33]:
test_class_labels = []
for x in test_class:
 all_classes = os.listdir(test_path + x)
 for y in all_classes:
  test_class_labels.append((x,str(x) + '/' + y))
test_df = pd.DataFrame(data=test_class_labels, columns = ['Test_Label','Test_Path'])

val_class_labels = []
for x in val_class:
 all_classes = os.listdir(val_path + x)
 for y in all_classes:
  val_class_labels.append((x,str(x) + '/' + y))
val_df = pd.DataFrame(data=val_class_labels, columns = ['Val_Label','Val_Path'])

(pd.concat([test_df, val_df], axis=1)).head(6)

,Test_Label,Test_Path,Val_Label,Val_Path
0,ensalada_cangrejo,ensalada_cangrejo/18.jpg,ensalada_cangrejo,ensalada_cangrejo/2.jpg
1,ensalada_cangrejo,ensalada_cangrejo/21.jpg,ensalada_cangrejo,ensalada_cangrejo/9.jpg
2,ensalada_cangrejo,ensalada_cangrejo/1.jpg,ensalada_cangrejo,ensalada_cangrejo/15.jpg
3,ensalada_cangrejo,ensalada_cangrejo/11.jpg,ensalada_cangrejo,ensalada_cangrejo/29.jpg
4,ensalada_cangrejo,ensalada_cangrejo/28.jpg,ensalada_cangrejo,ensalada_cangrejo/19.jpg
5,ensalada_cangrejo,ensalada_cangrejo/8.jpg,coca_cola,coca_cola/2.jpg

In [27]:
test_label=list(dict.fromkeys(test_df['Test_Label'].values))
print(test_label)
test_labelencoder = LabelEncoder ()
test_labelencoder = test_labelencoder.fit_transform (test_label)
print(test_labelencoder)
print("\n")
val_label=list(dict.fromkeys(val_df['Val_Label'].values))
print(val_label)
val_labelencoder = LabelEncoder ()
val_labelencoder = val_labelencoder.fit_transform (val_label)
print(val_labelencoder)

['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
[3 1 0 5 2 4]


['ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'crema_calabaza', 'gazpacho']
[3 1 0 5 2 4]

In [37]:
test_doc = []
for x in range(len(test_df)):
  for y in range(len(test_label)):
    if test_df.iloc[x,0] == test_label[y]:
      test_doc.append(str(test_df.iloc[x,1]) + " " + str(test_labelencoder[y]))

val_doc = []
for x in range(len(val_df)):
  for y in range(len(val_label)):
    if val_df.iloc[x,0] == val_label[y]:
      val_doc.append(str(val_df.iloc[x,1]) + " " + str(val_labelencoder[y]))

In [38]:
with open('/content/drive/MyDrive/MTDI_TFM/test.txt', 'w') as f:
    for line in test_doc:
        f.write(line)
        f.write('\n')

with open('/content/drive/MyDrive/MTDI_TFM/validation.txt', 'w') as f:
    for line in val_doc:
        f.write(line)
        f.write('\n')

with open('/content/drive/MyDrive/MTDI_TFM/classes.txt', 'w') as f:
    for line in test_label:
        f.write(line)
        f.write('\n')