<a href="https://colab.research.google.com/github/manvgom/Pickioset/blob/main/GenerarTXT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
%reset 
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
!mkdir -p dataset
!unzip -qo drive/MyDrive/MTDI_TFM/PICKIOSET/openMMlab_small_ds.zip -d ./dataset/

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Mounted at /content/drive

In [80]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [62]:
%cd /content/dataset/openMMlab_small_ds/test_set/test_set/
ds_path = "/content/dataset/openMMlab_small_ds/test_set/test_set/"
ds_class = os.listdir(ds_path)
ds_class.remove(".DS_Store")
print (ds_class)
print("Types of classes labels found: ", len(ds_class))

/content/dataset/openMMlab_small_ds/test_set/test_set
['gazpacho', 'hummus_pimiento', 'botella_agua', 'coca_cola', 'crema_calabaza', 'ensalada_cangrejo']
Types of classes labels found:  6

In [78]:
%ls
os.listdir(ds_path)

botella_agua/  crema_calabaza/     gazpacho/
coca_cola/     ensalada_cangrejo/  hummus_pimiento/

['gazpacho',
 'hummus_pimiento',
 'botella_agua',
 'coca_cola',
 'crema_calabaza',
 '.DS_Store',
 'ensalada_cangrejo']

In [ ]:
class_labels = []
for item in ds_class:
 all_classes = os.listdir(ds_path + item)
 for room in all_classes:
  class_labels.append((item, str(ds_path + item) + '/' + room))
df = pd.DataFrame(data=class_labels, columns=['Labels', 'image'])
df

In [138]:
y=df['Labels'].values
print(list(dict.fromkeys(y)))
y_labelencoder = LabelEncoder ()
y = y_labelencoder.fit_transform (y)
print (list(dict.fromkeys(y)))

SyntaxError: ignored

In [130]:
clases

[4,
 'hummus_pimiento',
 'botella_agua',
 'coca_cola',
 'crema_calabaza',
 'ensalada_cangrejo']

In [128]:
list(dict.fromkeys(clases))

['gazpacho',
 'hummus_pimiento',
 'botella_agua',
 'coca_cola',
 'crema_calabaza',
 'ensalada_cangrejo']

In [114]:
for x in range(len(list(dict.fromkeys(clases)))):
  print(x)
  df=df.replace(to_replace=clases[x],value=clases_encoder[x])

0
1
2
3
4
5

In [115]:
df

               Labels                                              image
0                   4  /content/dataset/openMMlab_small_ds/test_set/t...
1                   4  /content/dataset/openMMlab_small_ds/test_set/t...
2                   4  /content/dataset/openMMlab_small_ds/test_set/t...
3                   4  /content/dataset/openMMlab_small_ds/test_set/t...
4                   4  /content/dataset/openMMlab_small_ds/test_set/t...
5                   4  /content/dataset/openMMlab_small_ds/test_set/t...
6     hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
7     hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
8     hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
9     hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
10    hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
11    hummus_pimiento  /content/dataset/openMMlab_small_ds/test_set/t...
12       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
13       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
14       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
15       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
16       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
17       botella_agua  /content/dataset/openMMlab_small_ds/test_set/t...
18          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
19          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
20          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
21          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
22          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
23          coca_cola  /content/dataset/openMMlab_small_ds/test_set/t...
24     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
25     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
26     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
27     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
28     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
29     crema_calabaza  /content/dataset/openMMlab_small_ds/test_set/t...
30  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...
31  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...
32  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...
33  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...
34  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...
35  ensalada_cangrejo  /content/dataset/openMMlab_small_ds/test_set/t...

In [61]:
%cd /content/dataset/openMMlab_small_ds/val_set/val_set/
ds_path = "/content/dataset/openMMlab_small_ds/val_set/val_set/"
ds_class = os.listdir(ds_path)
ds_class.remove(".DS_Store")
print (ds_class)
print("Types of classes labels found: ", len(ds_class))

/content/dataset/openMMlab_small_ds/val_set/val_set
['gazpacho', 'hummus_pimiento', 'botella_agua', 'coca_cola', 'crema_calabaza', 'ensalada_cangrejo']
Types of classes labels found:  6