<a href="https://colab.research.google.com/github/manvgom/Pickioset/blob/main/GenerarTXT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
%reset 
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
!mkdir -p dataset
!unzip -qo drive/MyDrive/MTDI_TFM/PICKIOSET/openMMlab_ds.zip -d ./dataset/

Once deleted, variables cannot be recovered. Proceed (y/[n])? y
Mounted at /content/drive

In [46]:
import os
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [47]:
%cd /content/dataset/openMMlab_small_ds/test_set/test_set/
test_path = "/content/dataset/openMMlab_ds/test_set/test_set/"
test_class = os.listdir(test_path)
#test_class.remove(".DS_Store")
print (test_class)
print("Types of classes labels found: ", len(test_class))
print("\n")
%cd /content/dataset/openMMlab_small_ds/val_set/val_set/
val_path = "/content/dataset/openMMlab_ds/val_set/val_set/"
val_class = os.listdir(val_path)
#val_class.remove(".DS_Store")
print (val_class)
print("Types of classes labels found: ", len(val_class))

[Errno 2] No such file or directory: '/content/dataset/openMMlab_small_ds/test_set/test_set/'
/content
['sandwich_jamon', 'smoothie_fresa', 'snack_integral', 'ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'guisantes_jamon', 'ensalada_rusa', 'crema_calabaza', 'gazpacho', 'tortilla_patata', 'yogurth_cereal', 'smoothie_mango', 'fanta_limon', 'manzana', 'paella', 'fanta_naranja']
Types of classes labels found:  18


[Errno 2] No such file or directory: '/content/dataset/openMMlab_small_ds/val_set/val_set/'
/content
['sandwich_jamon', 'smoothie_fresa', 'snack_integral', 'ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'guisantes_jamon', 'ensalada_rusa', 'crema_calabaza', 'gazpacho', 'tortilla_patata', 'yogurth_cereal', 'smoothie_mango', 'fanta_limon', 'manzana', 'paella', 'fanta_naranja']
Types of classes labels found:  18

In [48]:
test_class_labels = []
for x in test_class:
 all_classes = os.listdir(test_path + x)
 for y in all_classes:
  test_class_labels.append((x,str(x) + '/' + y))
test_df = pd.DataFrame(data=test_class_labels, columns = ['Test_Label','Test_Path'])

val_class_labels = []
for x in val_class:
 all_classes = os.listdir(val_path + x)
 for y in all_classes:
  val_class_labels.append((x,str(x) + '/' + y))
val_df = pd.DataFrame(data=val_class_labels, columns = ['Val_Label','Val_Path'])

(pd.concat([test_df, val_df], axis=1)).head(6)

,Test_Label,Test_Path,Val_Label,Val_Path
0,sandwich_jamon,sandwich_jamon/96.jpg,sandwich_jamon,sandwich_jamon/61.jpg
1,sandwich_jamon,sandwich_jamon/54.jpg,sandwich_jamon,sandwich_jamon/16.jpg
2,sandwich_jamon,sandwich_jamon/82.jpg,sandwich_jamon,sandwich_jamon/78.jpg
3,sandwich_jamon,sandwich_jamon/85.jpg,sandwich_jamon,sandwich_jamon/5.jpg
4,sandwich_jamon,sandwich_jamon/93.jpg,sandwich_jamon,sandwich_jamon/45.jpg
5,sandwich_jamon,sandwich_jamon/58.jpg,sandwich_jamon,sandwich_jamon/81.jpg

In [49]:
test_label=list(dict.fromkeys(test_df['Test_Label'].values))
print(test_label)
test_labelencoder = LabelEncoder ()
test_labelencoder = test_labelencoder.fit_transform (test_label)
print(test_labelencoder)
print("\n")
val_label=list(dict.fromkeys(val_df['Val_Label'].values))
print(val_label)
val_labelencoder = LabelEncoder ()
val_labelencoder = val_labelencoder.fit_transform (val_label)
print(val_labelencoder)

['sandwich_jamon', 'smoothie_fresa', 'snack_integral', 'ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'guisantes_jamon', 'ensalada_rusa', 'crema_calabaza', 'gazpacho', 'tortilla_patata', 'yogurth_cereal', 'smoothie_mango', 'fanta_limon', 'manzana', 'paella', 'fanta_naranja']
[12 13 15  3  1  0  9  8  4  2  7 16 17 14  5 10 11  6]


['sandwich_jamon', 'smoothie_fresa', 'snack_integral', 'ensalada_cangrejo', 'coca_cola', 'botella_agua', 'hummus_pimiento', 'guisantes_jamon', 'ensalada_rusa', 'crema_calabaza', 'gazpacho', 'tortilla_patata', 'yogurth_cereal', 'smoothie_mango', 'fanta_limon', 'manzana', 'paella', 'fanta_naranja']
[12 13 15  3  1  0  9  8  4  2  7 16 17 14  5 10 11  6]

In [50]:
test_doc = []
for x in range(len(test_df)):
  for y in range(len(test_label)):
    if test_df.iloc[x,0] == test_label[y]:
      test_doc.append(str(test_df.iloc[x,1]) + " " + str(test_labelencoder[y]))

val_doc = []
for x in range(len(val_df)):
  for y in range(len(val_label)):
    if val_df.iloc[x,0] == val_label[y]:
      val_doc.append(str(val_df.iloc[x,1]) + " " + str(val_labelencoder[y]))

In [51]:
keys = test_label
values = test_labelencoder.tolist()
dictionary = dict(zip(keys, values))
labels = sorted(dictionary, key=dictionary.get)

In [52]:
with open('/content/drive/MyDrive/MTDI_TFM/test.txt', 'w') as f:
    for line in test_doc:
        f.write(line)
        f.write('\n')

with open('/content/drive/MyDrive/MTDI_TFM/val.txt', 'w') as f:
    for line in val_doc:
        f.write(line)
        f.write('\n')

with open('/content/drive/MyDrive/MTDI_TFM/classes.txt', 'w') as f:
    for line in labels:
        f.write(line)
        f.write('\n')